<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ProgramName" value ="Final Calculator Tester"/>
      <add key ="Version" value ="1.03"/>
      <add key ="Date" value="03/11/2015"/>
    </appSettings>
</configuration>